# Ignore datasets
data/raw/
data/sample/
data/processed/
/data/processed/*
!/data/processed/*.dvc


# Ignore environment files
*.env

# Ignore temporary files
.ipynb_checkpoints/
__pycache__/
*.pyc

# VS Code settings
.vscode/
